body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p-1 {
    padding: 1%;
}

.title {
    font-size: 18pt;
    font-weight: bold;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(23, 2, 48, 0.4);
    transition: top 0.3s;
}

nav img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 20px;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 10px;
}

.nav-link {
    font-weight: bold;
    font-size: 17px;
}


/* header  */
header {
    text-shadow: 0px 0px 1px black;
    padding: 5% 5% 0 5%;
}

#img {
    background-image: url(img/mark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 1px black;
    border-radius: 100%;
    float: right;
    margin-top: 70px;
}

header h1 {
    font-size: 30pt;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(182, 164, 4);
}

header h3 {
    font-size: 22pt;
    text-align: center;
    color: gray;
}

header p {
    font-size: 1.2rem;
    padding-left: 2%;
}

header i{
    font-size: 1.2rem;
    padding: 1%;
}

header a {
  text-decoration: none;
  color: #333;
}

header a:active {
  color: black;
}

  /* About */
  #about {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  /* skills */
  #skills {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  .skill {
      text-align: left;
      width: 300px;
  }

  .stars {
      text-align: right;
      color: gold;
      width: 200px;
  }
  

  /* Education */
  
  #education {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  .right {
      float: right;
  }

  /* Experience */
  #experience {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  /* Languages */
  #language {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  /* Other Skills */
  #other {
    text-shadow: 0px 0px 1px black;
    padding: 0 5%;
    font-size: 13pt;
    text-align: justify;
  }

  /* Footer */
  footer a:active {
    text-decoration: none;
    color: black;
  }

  footer p {
    text-align: center;
  }

   /* media section  */
  @supports (display: flex) {
    @media screen and (max-width: 900px) {
        .title {
            font-size: 18pt;
            font-weight: 700;
        }

      #img {
          float: none;
          margin: 0 auto;
          width: 200px;
          height: 200px;
          margin-top: 60px;
      }

      header h1 {
        font-family: fantasy;
        font-size: 22pt;
        text-align: center;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgb(182, 164, 4);
    }
    
    header h3 {
        font-size: 18pt;
        text-align: center;
        color: gray;
    }
    
    header p {
        font-size: 1rem;
    }
    
    header i{
        font-size: 1rem;
        padding: 1%;
    }

    #about {
        padding: 0 2%;
        font-size: 1rem;
        text-align: justify;
      }

      #skills {
        font-size: 1rem;
        text-align: justify;
      }

      .skill {
        text-align: justify;
        width: 200px;
    }
      
    #education {
        padding: 0 2%;
        font-size: 1rem;
        text-align: justify;
      }

      #experience {
        padding: 0 2%;
        font-size: 1rem;
        text-align: justify;
      }

      #language {
        padding: 0 2%;
        font-size: 1rem;
        text-align: justify;
      }

      #other {
        padding: 0 2%;
        font-size: 1rem;
        text-align: justify;
      }

    }
  }